<div class="post">
    <div class="post-contents">
        <div class="recipes-image-container">
            <img src="{{url}}" alt="{{name}}">
        </div>
        <div class="recipe-info-container">
            <a href="#" class="recipes-name">{{name}}</a>
            <div class="user-name">{{author}}</div>
            <div class="description">Description:</div>
            <div class="description-text"> {{description}} </div>
        </div>

        <button type="button" id="read-more-button">READ MORE</button>
    </div>
</div>